<launch>
  <node pkg="google_assistant_speech" type="google_assistant_speech.py" name="google_assistant_interface" output="screen"/>

    <!-- Key Phrase spotting using Snowboy -->
    <param name="key_phrase_dir" type="string" value="$(find google_assistant_speech)/scripts/resources" />
    <param name="key_phrase_1" type="string" value="sheldon.pmdl" />   <!-- Personal model -->
    <param name="key_phrase_2" type="string" value="microphone_on.pmdl" />     <!-- Personal model -->
    <param name="hotword_sensitivity" type="double" value="0.50" />    <!-- Larger = more sensitive -->
    <param name="apply_frontend" type="bool" value="True" />           <!-- Keyword front end noise processing? -->

    <!-- Example of Universal model (for anyone's voice):    
    <param name="key_phrase_2" type="string" value="snowboy.umdl" />
    -->

    <!-- if using proxy, configure below and set https_proxy in your .bashrc --> 
    <param name="proxyUrl" type="string" value="" /> 
    <!--  <param name="proxyUrl" type="string" value="$(env https_proxy)" /> -->
 
  </launch>
 

